[Unit]
Description=ntripcaster daemon
Documentation=https://igs.bkg.bund.de/ntrip/bkgcaster/
After=network.target
Wants=network.target
Requires=var-run.mount

[Service]
Type=forking
KillMode=process
WorkingDirectory=/usr/local/ntripcaster/conf/
#ExecStartPre=/bin/sh -c 'mkdir -p /usr/local/ntripcaster/logs /usr/local/ntripcaster/conf >/dev/null 2>&1'
ExecStart=/usr/local/ntripcaster/sbin/ntripdaemon -d /usr/local/ntripcaster/conf -b
PIDFile=/usr/local/ntripcaster/var/caster.pid

WatchdogSec=15
NotifyAccess=all

Restart=always
RestartSec=5

TimeoutStopFailureMode=kill
TimeoutStopSec=15

# Set the Unix user that the process is executed as
#User=rtproc

# If executed as normal user you may have to increase some limits
# Number of open file descriptors
#LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
